@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oklahoma HMS</h1>
    <p class="lead">Oklahoma's Hospital Address Registry allows authenticated users to manage Oklahoma's hospital address registry from a central repository.</p>
    <p><a href="/Home/Manage" class="btn btn-primary btn-lg">Oklahoma Hospital Management</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Oklahoma Hospital Management System (OHMS) allows authenticated users to manage Oklahoma's hospital address registry from a central repository.
        </p>
        <p><a class="btn btn-default" href="https://nppes.cms.hhs.gov/#/">Learn more about Providers</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health & Human Services</h2>
        <p></p>
        <p>
            <a class="btn btn-default" href="https://www.hhs.gov/">
                U.S. Department of Health & Human Services<br />
                200 Independence Avenue, S.W.<br />
                Washington, D.C. 20201<br />
                Toll Free Call Center: 1-877-696-6775<br />
            </a>
        </p>
    </div>
</div>